/* COMMON */
body {
  color: #333333;
  font-size: 16px; /*기본 폰트 사이즈 16부터 시작한다 치자*/
  font-weight: 400; /*기본 폰트 두께*/
  line-height: 1.4; /*통상적인 줄높이, 글꼴마다 다르다.*/
  font-family: "Nanum Gothic", sans-serif;
}
img {
  /*
    이미지 태그는 인라인요소, 글자를 취급하는 요소와 똑같이 취급한다.
    글자는 baseline이라는 글자 기준점의 아랫부분에 약간의 공백이 존재하는데,
    이 때문에 이미지에도 아랫부분에 약간의 공백이 생긴다.
    --> display: block으로, 이미지 요소를 블럭처리해줘서 해결한다!
    */
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333333;
  color: #ffffff;
}
.btn.btn--reverse {
  background-color: #333333;
  color: #ffffff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #ffffff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #ffffff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #ffffff;
  background-color: #ffffff;
}
.btn.btn--white:hover {
  color: #333333;
  background-color: #ffffff;
}
/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /*
  fixed하면 viewport 기준으로 배치되기 때문에, 요소의 너비를 최소한으로 사용하려고 한다.
  absolute도 마찬가지, 요소의 너비를 최소한으로 사용하려고 한다. 
  명시적으로 꽉 차게 100%를 해줘야한다!
  */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px; /*이미지 크기를 명시적으로  표시했다.*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /*자동으로 해당 요소를 블럭으로 바꾼다.*/
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  /*
    기본적으로 a 태그는 인라인 요소라서
    마진과 패딩, 가로세로 값을 가질 수 없었다.
    따라서 display: block을 해서 이 요소를 블럭으로 바꿔주자.
  */
  display: block;
  font-size: 12px;
  padding: 11px 16px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box; /*해당 박스의 크기를 선언한 width, height 맞춰서, 패딩, 테두리 줘도 유지하게*/
  border-radius: 5px;
  outline: none; /*포커스 되었을 때 input 태그에 기본적으로 테두리 들어가는거 없애기*/
  background-color: #ffffff;
  color: #777777;
  font-size: 12px;
  transition: width 0.4s; /* 자연스럽게 늘어나게 하기 위해 변환효과 주기*/
  cursor: pointer;
}

header .sub-menu .search input:focus {
  width: 190px;
  color: #669900;
  cursor: inherit;
}

header .sub-menu .search .material-icons {
  height: 24px; /*material-icon의 기본 사이즈는 24px*/
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
}
header .sub-menu .search.focused .material-icons {
  /*포커스 되어서 search에 focused 클래스가 추가되었을 경우*/
  opacity: 0;
  cursor: inherit;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #ffffff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  background-image: url("../images/main_menu_pattern.jpg");
  padding: 26px 0;
  height: 100px;
  font-size: 12px;
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden; /*이미지 border-radius 적용하기 위해 넘쳐나는 부분 가리기*/
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {
}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333333;
  display: flex; /*flex의 아이템 */
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1; /* flex의 아이템일 때, 이 요소의 너비를 차지할 수 있는 최대의 너비를 갖게하자!*/
}
.notice .notice-line .inner__left .swiper-container .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-container .swiper-slide a {
  color: #ffffff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #ffffff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}

.notice .promotion.hide {
  /*promotion과 hide 클래스 둘 다 갖고 있는 요소*/
  height: 0;
}

.notice .promotion .swiper-container {
  /*.swiper-slide 세개 보이고, 사이 10px씩 벌어진다 했을 때 총 container의 너비 계산*/
  width: calc(819px * 3 + 20px);
  height: 553px;

  /*
    이 요소를 화면 크기에 상관없이 중앙에 유지시키고 싶을 때
    width값이 고정되어 있기 때문에, 화면이 width보다 작아지면 요소의 왼쪽 기준으로 남아있게 되는데,
    화면이 width 보다 작아져도 중앙 부분이 남아서 보여지게 하자!
  */
  position: absolute;
  top: 40px;
  left: 50%; /* 부모 사이즈의 왼쪽에서 오른쪽으로 50%만큼 시작 위치를 밀어낸 다음*/
  margin-left: calc(
    (819px * 3 + 20px) / -2
  ); /*요소의 절반 사이즈만큼 다시 왼쪽으로 땡기자*/
}

.notice .promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  /*현재 차례인 애들 .swiper-slide 외에 .swiper-slide-active 클래스가 추가로 붙는다!*/
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  /*슬라이드 페이지네이션하는 부분*/
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  /*슬라이드 페이지네이션 각 점 요소들*/
  background-color: transparent; /*원래 기본적으로 백그라운드 색깔 정의해놨는데, 이걸 의도에 맞게 투명하게*/
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  outline: none; /*input Tag처럼 클릭했을 때 테두리 파란색으로 뜰 수 있는데, 이거 방지*/
}

.notice
  .promotion
  .swiper-pagination
  .swiper-pagination-bullet
  + .swiper-pagination-bullet {
  /*슬라이드 페이지네이션 사이에 여백 주기 위해서*/
  margin-left: 6px;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  /*페이지네이션 클릭했을 때 상태 (현재 활성화 되어있는 페이지)*/
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  /*위 두개의 선택자에다 똑같은 CSS 적용시켜주기*/
  width: 42px;
  height: 42px;
  border: 2px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none; /*input Tag처럼 클릭했을 때 테두리 파란색으로 뜰 수 있는데, 이거 방지*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333333;
  color: #ffffff;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
  /*위에서 전역적으로 inner에 absolute 속성 부여했으니 여기서 안해도 됨*/
}

.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1; /*현재 줄에서 최대한의 너비를 사용해라*/
}

/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px; /* 영상 제한적으로 높이 700px 정도만 보이게*/
  background-color: #333333;
  /* 
  부모요소 넘어가는 부분 자르기
  - 영상의 사이즈는 1920 x 1080 사이즈인데,
  - 영상의 비율 맞추면서 높이 700px 정도만 보이고 싶다!
  */
  overflow: hidden;
}

.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  /*영상이 나오는 위치를 부모요소의 정 중앙에 잡기 위해*/
  position: absolute;
  /* 가로 정중앙 잡기 */
  left: 50%;
  margin-left: calc(1920px / -2);
  /* 세로 정중앙 잡기 */
  /* 세로 사이즈는 1920px을 16:9 비율로 맞춘 세로 */
  /* 아래로 50%정도 내려갔다가 세로사이즈의 50%만큼 다시 땡긴다*/
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}

.youtube .youtube__area::before {
  /* 스타일 작업을 위해서 필요한 요소, CSS에서 처리하기 위해 가상요소 선택자 사용!*/
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgva(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube__area #player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url("../images//season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15px;
}

.season-product .text-group .more {
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}
